<%= render "search/form" %>
<table>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <strong>
          <%= link_to post.name, post_path(post) %>:
        </strong>
      </td>

      <td>
        <%= [post.city, post.state].join(", ") %>
      </td>
    </tr>
  <% end %>
</table>
