<%= render "layouts/search" %>
<table>
<% @posts.each do |post| %>
  <tr>
    <td><b><%= link_to post.name, post_path(post) %>:</b></td>
    <td><%= [post.city, post.state].join(", ") %></td>
  </tr>
<% end %>
</table>
