.about {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 70%;
}

h1 {
  font-size: 2em;
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 10px;
}
