<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      To confirm your post, just follow this link: <%= @url %>
    </p>
    <p>Thanks for posting on <%= Rails.application.class.parent_name %>!</p>
  </body>
</html>
