<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your post on <%= app_name %> has been deleted.
    <p>
      To repost, just follow this link: <%= confirm_post_link(@post) %>
    </p>
    <p>Thanks for using <%= app_name %>!</p>
  </body>
</html>
