// Rules in top of this file are modified versions of solution here:
// http://mystrd.at/modern-clean-css-sticky-footer/
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 180px; // bottom = footer height
}

footer {
  bottom: 0;
  height: 180px;
  left: 0;
  padding: 2em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.icon {
  background: {
    position: 0 50%;
    size: 200% 100%;
  }
  display: inline-block;
  height: 10px;
  margin: 4px;
  padding: 12px;
  width: 10px;

  &:hover {
    background-position: 100% 50%;
  }

  &.icon-github {
    background-image: asset-url("github.svg");
  }

  &.icon-twitter {
    background-image: asset-url("twitter.svg");
  }

  &.icon-facebook {
    background-image: asset-url("facebook.svg");
  }

  &.icon-tumblr {
    background-image: asset-url("tumblr.svg");
  }

  &.icon-email {
    background-image: asset-url("mail.svg");
  }
}

.icon-link {
  color: transparent;

  &:hover {
    color: transparent;
    text-decoration: none;
  }
}

