header {
  background-color: $header-background-color;
  color: $header-font-color;
  display: block;
  height: 50px;
  padding: 1rem;
  text-align: center;

  a {
    color: $header-link-color;
    text-decoration: none;

    &:hover {
      color: $header-link-color;
    }
  }

  .link-container {
    height: 10%;
    position: relative;
  }

  .home-link {
    display: inline;
    font-size: 1em;
    left: 15px;
    position: absolute;
  }

  .static-links {
    display: inline;
    font-size: 1em;
    position: absolute;
    right: 15px;
  }

  .static-link {
    padding-left: 20px;
  }
}
