header {
  padding: 1rem;
  font-size: 4em;
  text-align: center;
  color: $header-font-color;
  background-color: $header-background-color;
  border-radius: 3px;

  a {
    text-decoration: none;
    color: $header-link-color;

    &:hover {
      color: $header-link-color;
      border-bottom: 3px solid $header-link-color;
    }
  }
}
