header {
  background-color: $header-background-color;
  border-radius: 3px;
  color: $header-font-color;
  display: block;
  height: 50px;
  padding: 1rem;
  text-align: center;

  a {
    color: $header-link-color;
    text-decoration: none;

    &:hover {
      color: $header-link-color;
    }
  }
  .link-container {
    position: relative;
    height: 10%;
  }
  .home-link {
    display: inline;
    font-size: 1em;
    position: absolute;
    left: 15px;
  }
  .static-links {
    display: inline;
    font-size: 1em;
    position: absolute;
    right: 15px;
  }
  .static-link {
    padding-left: 20px;
  }
}
