.posts {
  @include outer-container;
  h1 {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
  }
  ul {
    @include outer-container;
    li {
      @include span-columns(4);
      display: inline-block;
    }
  }
}

.post {
  background: $light-gray;
  padding: 2em;
  margin: 2em;
  border-radius: $base-border-radius;

  .description {
    font-style: italic;
  }
}

form {
  @include span-columns(4);
  @include shift(4);

  text-align: center;

  input {
    display: inline-block;
    text-align: center;
    margin: inherit auto;
  }
}

