.posts {
  @include outer-container;
  h1 {
    text-align: center;
    font-size: 1.5em;
    text-decoration: underline;
  }
}

.post {
  @include span-columns(3);
  text-align: center;
  background: $light-gray;
  padding: 2em;
  margin: 2em;
  border-radius: $base-border-radius;
  display: inline-block;

  .description {
    font-style: italic;
  }
}

form {
  @include span-columns(4);
  @include shift(4);

  text-align: center;

  input {
    display: inline-block;
    text-align: center;
    margin: inherit auto;
  }
}

.search_field {
  display: inline;
}

.search_submit {
  display: inline;
}

.check_box_container {
  display: block;
}
