<p class="confirmation_text">
  Your post has been confirmed!
</p>
<p class="confirmation_text">
  We've sent you an email with more info
</p>
<p class="confirmation_text">
  View your post <%= link_to("here", @post) %>
</p>
<p class="confirmation_text">
  <%= link_to "Back to Home Page", root_path %>
</p>
