<p>
  Your post has been confirmed! You can view it at:
  <%= link_to @post.title, posts_path(@post) %>
</p>
<p>
  We've sent an email with more information on how to edit your post!
</p>
<p>
<%= link_to "Back", index_path %>
</p>
