<p class="confirmation_text">
  Your post has been successfully deleted. 
</p>
<p class="confirmation_text">
  We've sent you an email with how to get back!
</p>
<p class="confirmation_text">
  <%= link_to "Back Home", root_path %>
</p>
