<h1>
  Editing Post
</h1>

<div class="delete-button">
  <%=
    button_to(
      "Delete this post",
      post_path(id: @post.id, validation: @post.validation),
      method: :delete,
      data: {
        confirm: "Are you sure you want to delete this post?"
      }
    )
  %>
</div>

<%= render "form" %>
