<div class="about">
  <h1>
    About Refuge Housing:
  </h1>
  <p>
    Refuge Housing is a project to assist with finding transgender friendly housing.
  </p>
  <h1>
    How to Help:
  </h1>
  <p>
  Contribute to Refuge Housing on github:
  <a href="https://github.com/refugerestrooms/refuge_housing">Refuge Housing Github</a>
  </p>
</div>
